<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vorsk.androidfortune"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock" >
        
	    <receiver 
	        android:icon="@drawable/ic_launcher"
	        android:label="Fortune Widget"
	        android:name="FortuneWidgetProvider"> 
 			<meta-data  
 			    android:name="android.appwidget.provider" 
 				android:resource="@xml/fortune_widget_info"/>
 			<intent-filter> 
			 	<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> 
 			</intent-filter> 
 	    </receiver> 
 	    
 	    
	<!--
	    <activity 
	        android:name="com.vorsk.ConfigureFortuneWidgetActivity"
			android:label="Configure Fortune Widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
	
	-->  
	    
        <activity
            android:name="com.vorsk.androidfortune.TabsFragment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vorsk.androidfortune.NotificationReceiverActivity" >
        </activity>
        <activity
            android:name="com.vorsk.androidfortune.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>

        <receiver
            android:name="com.vorsk.androidfortune.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>
</manifest>