<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vorsk.androidfortune"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock" >
        <receiver
            android:name="com.vorsk.androidfortune.FortuneWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Fortune Widget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fortune_widget_info" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        
	    <receiver
		    android:name="com.vorsk.androidfortune.FortuneWidgetIntentReceiver"
		    android:label="FortuneWidgetIntentReceiver" >
			<intent-filter>
			        <action android:name="up_button.intent.action.UP_VOTE" />
			        <action android:name="down_button.intent.action.DOWN_VOTE" />
			</intent-filter>
	
		    <meta-data
		        android:name="android.appwidget.provider"
		        android:resource="@xml/fortune_widget_info" />
		</receiver>

        <activity
            android:name="com.vorsk.androidfortune.TabsFragment"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vorsk.androidfortune.NotificationReceiverActivity" >
        </activity>
        <activity
            android:name="com.vorsk.androidfortune.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>

        <receiver
            android:name="com.vorsk.androidfortune.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.vorsk.androidfortune.UpdateFortuneReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>