<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vorsk.androidfortune"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="com.vorsk.androidfortune.TabsFragment"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vorsk.androidfortune.NotificationReceiverActivity" >
        </activity>
        <activity
            android:name="com.vorsk.androidfortune.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>

        <receiver
            android:name="com.vorsk.androidfortune.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>